/* .progress{
    width: 30px;
    margin: 10px;
    background-color: red;
    border-radius: 20px;
    height: 400px;
    background: repeating-linear-gradient(
        691deg,
        rgb(61, 224, 216),
        rgb(61, 224, 216) 1px,
        rgb(235, 29, 29) 10px,
        rgb(235, 29, 29) 20px
    );
} */
.chart_bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.chart_bar_inner {
    height: 100%;
    width: 20px;
    border: 1px solid #313131;
    background-color: #e9be92;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .chart_bar_fill {
    background-color: #b92b26;
    width: 100%;
    transition: all 0.8s ease-out;
  }

@media screen and (max-width: 620px) {
    .chart_bar_inner{
        width: 10px;
        margin: 1px;
    }
}